{{#each erros}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<h3>Nova Postagem</h3>
<div class="card shadow p-3 mb-5 bg-body rounded">
    <div class="card-body">
        <form action="/admin/postagens/nova" method="POST">
            <label for="nome">Titulo: </label>
            <input class="form-control" type="text" name="nome" id="nome" placeholder="Título da postagem" onkeyup="getSlug()" />
            <label for="slug">Slug: </label>
            <input class="form-control disabled" type="text" name="slug" id="slug" placeholder="Slug da postagem" />
            <label for="descricao">Descrição:</label>
            <input class="form-control" type="text" name="descricao" id="descricao" placeholder="Descrição da postagem"/>
            <label for="conteudo">Conteúdo:</label>
            <textarea class="form-control" name="conteudo" id="conteudo" cols="30" rows="10"></textarea>
            <label for="categoria">Categoria:</label>
            <select class="form-select" name="categoria" id="categoria">
            <option value="0">Selecione uma categoria...</option>
            {{#each categorias}}
                <option value="{{_id}}">{{slug}}</option>
            {{else}}
                <option value="0">Nenhum categoria registrada</option>
            {{/each}}
            </select>
            <br />
            <button type="submit" class="btn btn-success">Postar!</button>
        </form>
    </div>
</div>