<div class="jumbotron mt-4 p-4 shadow rounded">
    <h1 class="display-4">Bem-vindo!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta!</a>
</div>
<h2 class="mt-5">Postagens recentes <i class="bi bi-chat-dots"></i></h2> 
<hr>

{{#each posts}}
    <div class="card mt-4 mb-4 p-4 shadow rounded">
        <div class="card-body">
            <h3>{{title}}</h3>
            <small><b><i>{{description}}</i></b> | Publicado em: {{date}}</small>
            <hr>
            <p>{{content}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-primary">Leia mais...</button></a>
            <small style="color: #0d6efd;" class="float-end">#{{category.slug}}</small>
        </div>
    </div>
{{else}}
    <h4><i class="bi bi-emoji-neutral"></i> Oops! Parece que ainda não há postagens.</h4>
{{/each}}