<h1>{{posts.title}}</h1>
<span><b><i>{{posts.description}}</i></b></span>
<hr>
<small>Data da publicação: {{posts.date}}</small><br />
<small>Categoria: {{posts.category.nome}}</small>
<hr>
{{posts.content}}